# Broker
BROKER_HOST=rabbitmq
BROKER_PORT=5672

# Banco de Dados MySQL (HostGator - Compartilhado logicamente para economizar recursos)
DB_HOST=localhost
DB_NAME=jeff1591_Gaptech
DB_USER=jeff1591_db_user
DB_PASS=0~nh1U!.y89|
DB_PORT=3306

# Taxa dos mocks (eventos por segundo)
TAXA_ANTIFRAUDE=1
TAXA_CATALOGO=1